<div class=" bg purchase-summary-main">
    <app-header></app-header>
    <div class="crunch-box-bar">

    </div>
    <div class="container-fluid-new  box-crunch">


        <div class="purchasecrunchtools">
            <div class=" banner-purchase">
                <div class="col-md-8 pur-left-main">
                    <div class="pur-left">
                        <h2 class="">Purchase Crunchbox Tools</h2>
                        <p class="purchase-txt">CrunchBox tool descriptive copy goes here. CrunchBx tool descriptive
                            copy goes here. CrunchBox tool descriptive copy goes here. CrunchBox tool descriptive copy
                            goes here. x tool descriptive copy goes here. CrunchBox tool descriptive copy goes here.
                            CrunchBox tool descriptive copy goes here.ox tool descriptivx tool descriptive copy goes
                            here. CrunchBox tool descriptive copy goes here. CrunchBox tool descriptive copy goes here.e
                            copy goes here. CrunchBox tool descx tool descriptive copy goes here. CrunchBox tool
                            descriptive copy goes here. CrunchBox tool descriptive copy goes here.riptivx tool
                            descriptive copy goes here. CrunchBox tool descriptive copy goes here. CrunchBox tool
                            descriptive copy goes here.e copy goes here.</p>
                        <div class="">
                            <p class="search-txt"><b>Search Here</b></p>
                            <p class="purchase-txt">Enter descriptive terms to find appropriate CrunchBox Tools.</p>
                            <form>
                                <input type="text" class="searchbox">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pur-right-main">
                    <div class="pur-right">
                        <img src="" class="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body sleepsuitetool1">
                        <h5 class="card-title"><img src="../../assets/images/crunch-img01.png"><span>Sleep Scoring
                                App</span></h5>
                        <p class="card-text">Full Somnogram, etc.</p>
                        <hr>
                        <div class="newcrunchbox-buttons float-right">
                            <a class="btn btn-outline-secondary learnbtn">Learn more</a>
                            <a class="btn btn-primary cust-btn ">$2500 <span> <i class="fa fa-cart-plus fa-1x"></i>
                                </span></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body sleepsuitetool1">
                        <h5 class="card-title"><img src="../../assets/images/crunch-img01.png"><span>Insomnia App</span>
                        </h5>
                        <p class="card-text">Full Somnogram, etc.</p>
                        <hr>
                        <div class="newcrunchbox-buttons float-right">
                            <a class="btn btn-outline-secondary learnbtn">Learn more</a>
                            <a class="btn btn-primary cust-btn ">$2500 <span> <i class="fa fa-cart-plus fa-1x"></i>
                                </span></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body sleepsuitetool1">
                        <h5 class="card-title"><img src="../../assets/images/crunch-img01.png"><span>Insomnia App</span>
                        </h5>
                        <p class="card-text">Full Somnogram, etc.</p>
                        <hr>
                        <div class="newcrunchbox-buttons float-right">
                            <a class="btn btn-outline-secondary learnbtn">Learn more</a>
                            <a class="btn btn-primary cust-btn ">$2500 <span> <i class="fa fa-cart-plus fa-1x"></i>
                                </span></a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body sleepsuitetool1">
                        <h5 class="card-title"><img src="../../assets/images/crunch-img01.png"><span>Insomnia App</span>
                        </h5>
                        <p class="card-text">Peer Games and Analytics</p>
                        <hr>
                        <div class="newcrunchbox-buttons float-right">
                            <a class="btn btn-outline-secondary learnbtn">Learn more</a>
                            <a class="btn btn-primary cust-btn ">$2500 <span> <i class="fa fa-cart-plus fa-1x"></i>
                                </span></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body sleepsuitetool1">
                        <h5 class="card-title"><img src="../../assets/images/crunch-img01.png"><span>Insomnia App</span>
                        </h5>
                        <p class="card-text">Peer Games and Analytics 2.0</p>
                        <hr>
                        <div class="newcrunchbox-buttons float-right">
                            <a class="btn btn-outline-secondary learnbtn">Learn more</a>
                            <a class="btn btn-primary cust-btn ">$2500 <span> <i class="fa fa-cart-plus fa-1x"></i>
                                </span></a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>