input[type=password], input[type=email], input[type=text] {
    
     /* border: 2px solid #e6e3e3;  */
    border:none;
    border-radius: 0px;
    color: #0d0d0d;
    /* padding: 5px 2px; */
    padding:44px 2px 34px 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     margin: 2px 0px; 
    width: 100%;
    border-bottom:2px solid #e6e3e3;
    height: 50px;
  }
  .hide {
      display: none;
    }
    .inner-addon { 
        position: relative; 
    }
    /* .inner-addon i, .inner-addon .fa {
      position: absolute;
      top: 36px;
      right: 9px;
      padding: 4px;
      z-index: 100;
      cursor: pointer;
    } */
    /* .reset-input-two .inner-addon i .inner-addon .fa {
      position: absolute;
      top: 25px;
      right: 9px;
      padding: 4px;
      z-index: 100;
      cursor: pointer;
      font-size: 18px;
    } */
    .fa {
        font-size: 19px;
        color:#4b8693;
    }
    .invalid-feedback div{
      margin-top: .25rem;
      font-size: 80%;
      color: #dc3545;
    }
    ::ng-deep .ui-toast .ui-toast-message-content{
      background-color: #ffffff;
      font-weight: bold;
    }
    ::ng-deep .ui-toast .ui-toast-message-content {
      padding-left:20px !important;
    }
    
    /* .resettfrm{
      padding: 67px 59px 23px 65px;
    } */
    @media (max-width: 1300px) {
      h2 {
        font-size: 18px;
      }
      input[type=password], input[type=email], input[type=text] {
        padding: 5px 2px;
      }
     }
