input[type=password], input[type=email], input[type=text] {
    /* border: 2px solid #e6e3e3; */
    border:none;
    border-radius: 0px;
    color: #0d0d0d;
    padding: 5px 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 0px;
    width: 100%;
    border-bottom:2px solid #e6e3e3;
  }
