.bg {
  padding-top: 80px;
}
.crunch-box-bar .crunch-head {
  color: #fefefe;
  font-size: 28px;
  font-weight: bold;
  margin-left: 140px;
}
.changepassword {
  width: 43.6%;
  margin: 0 auto;
  padding: 60px 103px 37px 90px;
  box-shadow: 0 4px 15px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 67px;
  margin-bottom: 60px;
  border-radius: 2px;
}
.changepassword-head {
  font-family: HelveticaNeue;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-bottom: 41px;
}
.label-placeholder {
  height: 17px;
  flex-grow: 0;
  margin-bottom: 0px;
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  /* color: #696969; */
}
input[type="password"],
input[type="email"],
input[type="text"] {
  border-bottom: 2px solid #e6e3e3;
  margin: 18px 0px 6px 0px;
  padding-left: 10px;
  padding-right: 50px;
}
.eye-show,
.eye-hide {
  float: right;
  position: relative;
  top: -15px;
  left: -18px;
  margin-bottom: -20px;
  width: 25px;
  height: 17px;
}
.hide {
  display: none;
}
.sub-btn {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 14px 69px;
  border-radius: 30px;
  background-color: #1e76ac;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-top: 32px;
  border: none;
}
.box-crunch {
  background-color: #f1f1f1 !important;
  /* height: 100vh !important; */
}
img .eye-show{
  font-size: 20px;
  background-color: red !important;
}
.newpassword-space, .confirmpassword-space{
  padding-top: 16px;
}
@media (max-width: 1300px) {
  .logo-crunch {
    width: 34px;
    height: 35px;
  }
  .crunch-box-bar .crunch-head {
    font-size: 18px;
    margin-left: 68px;
  }
  .crunch-box-bar {
    min-height: 56px;
  }
  .changepassword {
    width: 46.9%;
    margin: 0 auto;
    margin-top: 42px;
    margin-bottom: 93px;
    padding: 40px 45px 30px 54px;
  }
  .changepassword-head {
    font-size: 18px;
    margin-bottom: 36px;
  }
  .label-placeholder {
    font-size: 16px;
  }
  input[type="password"],
  input[type="email"],
  input[type="text"] {
    border-bottom: 2px solid #e6e3e3;
    margin: 10px 0px 15px 0px;
  }
  .sub-btn {
    margin-top:29px;
    padding: 9px 55px;
    font-size: 16px;
  }
  .eye-hide, 
  .eye-show {
    right: 21px;
    top: -32px;
  }
  .bg {
    padding-top: 56px !important;
  }
}
