input[type="password"],
input[type="email"],
input[type="text"] {
  /* border: 2px solid #e6e3e3; */
  border: none;
  border-radius: 0px;
  color: #0d0d0d;
  padding: 5px 2px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 0px;
  width: 100%;
  border-bottom: 2px solid #e6e3e3;
}
.box-forgot-password input.email-forgot {
  padding-bottom: 25px;
}
.invalid-feedback div {
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
::ng-deep .ui-toast-message-content{
  background-color: #ffffff;
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 1300px) {
  .forgot-wrapper {
    padding-top: 90.4px;
    padding-bottom: 130px;
  }
  .box-forgot-password {
    width: 414px;
    margin-left: 107px;
  }
  .forgotlogo {
    width: 56.9px;
    padding: 0px !important;
    margin-top: 45.3px;
  }
  .box-forgot-password .form-box {
    padding-top: 40.4px;
    padding-left: 42px;
    padding-right: 43px;
    /* padding-bottom: 36px; */
  }
  .box-forgot-password h1 {
    font-size: 18px;
  }
  .password-link {
    font-size: 12px;
    margin-top: 30.7px;
  }
  .box-forgot-password input.email-forgot {
    height: 65px;
  }
  .form-group{
    margin-bottom:0px;
  }
  .forgot-blue-btn {
    margin-top: 31.6px !important;
    font-size: 14px;
}
.form-box {
  padding-bottom: 0px;
}
.box-forgot-password {
  height: 429.4px;
}
}